<h2>About Us</h2>
<hr />
<p>The idea of ProfessionalQA.com was born out of a belief that there should be no barriers in the path to achieving knowledge. Utilising the overwhelming inroads, which the internet has made in reaching the remotest of populations, we aim to become facilitators for change by disseminating the latest from the world of software testing to those who have a never ending thirst for testing. We at ProfessionalQA.com have created a repository of content on a digital platform, touching upon a whole spectrum of subjects from the world of software testing, QA and automation.</p>

<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Why ProfessionalQA.com?</strong>
</div>
<div class="panel-body"> 
<p><i class="glyphicon glyphicon-ok"></i> <strong>Our Mission:</strong> Knowledge for all</p>
<p><i class="glyphicon glyphicon-ok"></i> <strong>Encyclopedia:</strong> Our coverage encapsulates all the terms and terminologies related to software testing, QA and automation.</p>
<p><i class="glyphicon glyphicon-ok"></i> <strong>Bridging the skill gap:</strong> From greenhorns still learning the nuances of the game to seasoned professionals looking to augment their skill sets, there is something in it for everyone. </p>
<p><i class="glyphicon glyphicon-ok"></i> <strong>What's trending:</strong> Our depository of information is continuously updated with articles on the next BIG thing that's causing waves in the field of QA.</p>
	</div>
</div>