<h2>Professional QA.com Disclaimer</h2>
      <hr />
      <div class="panel panel-info">
      	<div class="panel-heading">
        	<h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body"> 
            <p>Comments are welcome. However the editor reserved the right to alter or delete material deemed inappropriate due to:</p>
            <ul>
                <li>Comments deemed to be spam.</li>
                <li>Comments deemed to be abusive in nature.</li>
                <li>Comments deemed to be in offensive language or concept.</li>
                <li>Comments pertaining to direct or indirect attack on an individual or a group.</li>
                <li>Comments containing hate speech.</li>
            </ul>
        </div>
      </div>
      
      <div class="panel panel-info">
      	<div class="panel-heading">
        	<h3 class="panel-title">Copyrights</h3>
        </div>
        <div class="panel-body"> 
            <p>All rights reserved. The copyright for all the written and pictorial content produced on this site exclusively belongs to <strong>professionalqa.com</strong>. No part of this content may be reproduced, distributed, or transmitted in any form or by any means, including photocopying, recording, or other electronic or mechanical methods, without the prior written permission of professionalqa.com, except in the case of brief quotations embodied in critical reviews and certain other non-commercial uses permitted by copyright law. For permission requests, write to professionalqa.com, at the address below.</p>
        </div>
      </div>
      
      <div class="panel panel-info">
      	<div class="panel-heading">
        	<h3 class="panel-title">Questions</h3>
        </div>
        <div class="panel-body"> 
            <p>Got a query? If you have any question related to the content on this site, or you wish to share something with us, feel free to write to us at: <a href="mailto:info@professionalqa.com" target="_blank">info@professionalqa.com</a></p>
        </div>
      </div>
      
      <div class="panel panel-info">
      	<div class="panel-heading">
        	<h3 class="panel-title">Content Accuracy</h3>
        </div>
        <div class="panel-body"> 
            <p>If any inaccuracy is found to be present in the information provided by our content, then <strong>professionalqa.com</strong> will not be held responsible for any outcome that results from using the information contained in our articles.</p>
        </div>
      </div>
      
      <div class="panel panel-info">
      	<div class="panel-heading">
        	<h3 class="panel-title">Advertising Policy</h3>
        </div>
        <div class="panel-body"> 
            <p><strong>Professionalqa.com</strong> utilizes the services of third party advertising companies to serve ads. Some of them such as Google AdSense uses dart cookies to serve ads based on user interest and interaction. The users are free to opt out of these by visiting <a href="http://www.google.com/policies/privacy/ads/" target="_blank">Google ad and content network privacy policy</a> and modifying the cookie settings.</p>
        </div>
      </div>
      
      <div class="panel panel-info">
      	<div class="panel-heading">
        	<h3 class="panel-title">Email</h3>
        </div>
        <div class="panel-body"> 
            <p>Users are assured that <strong>professionalqa.com</strong> has the utmost regard for their privacy and the email addresses used in the comments section will never be used for spamming or commercial purposes.</p>
        </div>
      </div>
      
      <div class="panel panel-info">
      	<div class="panel-heading">
        	<h3 class="panel-title">Photos</h3>
        </div>
        <div class="panel-body"> 
            <p>Unless mentioned, Professionalqa.com has the exclusive copyrights over all the photos or graphic material which form part of the content uploaded on the site. For any form of usage or editing of pictorial content, including cropping, please contact us at <a href="mailto:info@professionalqa.com" target="_blank">info@professionalqa.com</a></p>
        </div>
      </div>