 <div class="col-sm-9 policy-center">
 <h1 class="text-center">Privacy policy</h1>
      <p class="blog-post-meta text-center">Last Updated on April 1, 2016 <br /><p>
      <hr />
      <p>This Privacy Policy discloses the privacy practices for <strong>ProfessionalQA.com</strong> its parent and its subsidiaries.</p>
      <p>Please read through our privacy policy and the terms & conditions carefully.</p>
      <h3>What information we collect?</h3>
      <p>We collect information from you when you register on our site, fill out a form or comment on the site. Any of the information we collect from you may be used in one of the following ways:</p>
      <ul>
      	<li><h4>To better personalize your experience:</h4>
        	<blockquote>We achieve this by improving upon our responsiveness to your specific needs.</blockquote>
        </li>
        <li><h4>Improvement of website:</h4>
        	<blockquote>Based on the information received from your invaluable feedback, we continuously make efforts to ameliorate the features of our website.</blockquote>
        </li>
        <li><h4>Enhancement in customer service:</h4>
        <blockquote>Your information helps us to fine tune our responses in line with your specific needs.</blockquote>
        </li>
        <li><h4>Periodic mails:</h4>
        	<blockquote>With the aid of the data available from your side, we are efficiently able to handle your queries for troubleshooting or support.</blockquote>
        </li>
      </ul>
      <h3>We use Cookies...</h3>
      <p>Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information.</p>
      <p>We use cookies to understand and save your preferences for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business. If you prefer, you can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies via your browser settings. Like most websites, if you turn your cookies off, some of our services may not function properly.</p>
      
      <h3>Do we disclose anything to outside parties?</h3>
      <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, impersonal identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
      <h3>Cookies with advertising partners:</h3>
      <p>Some of our advertising partners may use cookies and web beacons on our site. Our advertising partners include Google Ad sense. These third-party ad servers or ad networks use technology to the advertisements and links that appear on <strong>ProfessionalQA.com</strong> send directly to your browsers. They automatically receive your IP address when this occurs. Other technologies ( such as cookies, JavaScript, or Web Beacons ) may also be used by the third-party ad networks to measure the effectiveness of their advertisements and / or to personalize the advertising content that you see.</p>
      <p>ProfessionalQA.com has no access to or control over these cookies that are used by third-party advertisers.</p>
      <p>We expect you to consult the respective privacy policies of these third-party ad servers for more detailed information on their practices. ProfessionalQA's.com privacy policy does not apply to, and we cannot control the activities of, such other advertising partners.</p>
      
      <h3>What are third party links and their role?</h3>
      <p>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites.</p>
      
      <h3>California Online Privacy Protection Act Compliance</h3>
      <p>Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.</p>
      
      <h3>Children's Online Privacy Protection Act Compliance</h3>
      <p>We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.</p>
      
      <h3>Online Privacy Policy Only</h3>
      <p>This online privacy policy applies only to information collected through our website and not to information collected offline.</p>
      <h3>Consent:</h3>
      <p>By using our site, you consent to our privacy policy.</p>  

    </div>