<div class="col-sm-9 policy-center">
<h2 class="text-center">Terms and Conditions for ProfessionalQA.com</h2>
      <p class="blog-post-meta text-center">Last Updated April 1, 2016</p>
      <hr />
      <p>The Terms will apply in respect of all websites or other electronic content applications ('Sites') owned or operated by ProfessionalQA.com which is a site run by ThinkSys Inc. (Company).</p>
      <p>By accessing any Site or by otherwise accessing any content, software, products or services available through the Sites ("the Content"), you are deemed to have entered into an agreement with Company and to have agreed to be bound by the Terms set out below. The content of the Sites is owned by Company and/or its licensors on whose behalf they are operated by the Company.</p>
      <h3>1. Intellectual Property Protection:</h3>
      <p>The term "Intellectual Property Rights" means, copyrights, database rights, trade marks, trade names, domain names, rights in logos, get­up and content, inventions, trade secrets and know-how, patents, all rights of whatever nature in computer software and data, all rights of privacy and all intangible rights and privileges of a nature similar to any of the above, in every case in any part of the world and whether or not registered; and including all granted or pending registrations, and all rights to make applications for registration in respect of any of the same. All Intellectual Property Rights in the Content and design of the Sites and any material emailed to you or otherwise supplied to you in conjunction with our online products are the property of Company and/or its licensors. You may not use or reproduce any Company Intellectual Property, including any trademarks, registered or unregistered, (such as the Company name and logo or other trade names appearing on the Sites) for any reason without written permission from Company. The software, which operates the Sites, is proprietary software and you may not use it except as expressly allowed under these Terms. You may not copy, reverse engineer, modify or otherwise deal with the software.</p>
      
      <h3>2. Use of Company Content:</h3>
      <p>You may retrieve and display Company Content on a computer screen or mobile telephone or other electronic device, print individual pages on paper (but not photocopy them) and must be kept intact.</p>
      <p>Except as expressly set out above, you may not reproduce, modify or in any way commercially exploit any of the Content of the Sites. In particular, you may not do any of the following without prior written permission. No parts of any Company publication or Sites may be reproduced, stored in or introduced into any retrieval system, or transmitted, in any form or by any means, electronic, mechanical, photocopying, recording or otherwise without the prior written permission of the copyright owners. You may not reverse engineer, modify, decompile, disassemble or translate the content (whether for the purpose of error correction or otherwise). You may not display the content on a public bulletin board, ftp site, website, chat room or by any other unauthorized means. Written materials provided in printed or electronic form may not be modified, adapted, translated, or used to create derivative works without the prior written consent of Company. Any use of Company Content not specifically permitted above is expressly prohibited. Requests for permission for other uses may be sent to 440 N Wolfe road, Suite #22  Sunnyvale, CA 94085 or by email to <strong>info@professionalqa.com</strong> and may be subject to a fee.</p>
      
      <h3>3. Licence Fee, Payment, and Transactions</h3>
      <p>Access to certain Company Content may be subject to a fee or subscription. All payments (including applicable taxes) must be made in advance in a currency specified by Company. You are responsible for the payment of all charges associated with the use of the Sites using your Username, Password or ID. There may be from time to time opportunities to use the Sites to purchase products or services from third party suppliers. In that event, your contract for such products will be with the third party provider and not with Company. All refunds that relate to Company products or services are at the discretion of Company. Any product specific offers, conditions or terms are stated at the point of purchase for that product.</p>
      
      <h3>4. Terms and Termination</h3>
      <p>Company may, at its discretion, terminate or suspend individual or group access to all or part of the Sites (including any right to access and use Company Content) with or without cause by delivering notice to you. The rights of termination are in addition to all other rights or remedies of Company provided in these Terms or by law.</p>
      
      <h3>5. Changes to the Site</h3>
      <p>Company reserves the right, in its discretion, to suspend, change, modify, add or remove portions of Company Content available on the Sites at any time and to restrict the use and accessibility of the Sites.</p>
      
      <h3>6. Registration, Passwords and Responsibilities</h3>
      <p>Some parts of the Sites require registration. You are solely responsible for the confidentiality and use of and access to the Company Content and Sites using your username, password or ID. You agree to immediately notify Company if you become aware of any loss or theft of any username, password or ID or any unauthorised use of a username, password, ID, or any other login details. Company reserves the right to monitor and record activity on the Sites, including access to Company Content.</p>
      
      <h3>7. Privacy Policy</h3>
      <p>Company maintains a high level of privacy and security for your details. View our onlinePrivacy Policy in full.</p>
      
      <h3>8. No Warranty, Disclaimer of Liability and Indemnity</h3>
      <p>While every effort has been made to ensure the high quality and accuracy of the Sites, Company makes no warranty, express or implied concerning the Content of the Sites, which is provided "as is". Company expressly disclaims all warranties, including but not limited to warranties of fitness for a particular purpose and warranties of satisfactory quality. In no event will Company, its affiliates or other suppliers be liable for direct, special, incidental, or consequential damages (including, without limitation, damages for loss of business profits, business interruption, loss of business information or other pecuniary loss) arising directly or indirectly from the use of (or failure to use) or reliance on the Content, even if Company has been advised of the possibility that such damages may arise. Company does not guarantee the accuracy or timeliness of the Content appearing on the Sites, or that the Sites or related systems are free from viruses or other contaminating or destructive properties. In the event that Company incurs any liability whatsoever, the aggregate liability shall not exceed the amount that you originally paid for the service. Except in respect of fraudulent misrepresentation, the Terms together with any order form and payment method instructions set forth the entire agreement and understanding of the parties relating to the subject matter herein. Any prior written or verbal agreements are superseded by the Terms.</p>
      
      <h3>9. Company</h3>
      <p>Company, its affiliates and its information providers will not be liable or deemed to be in default for any delay or failure in performance or interruption of the delivery of Company Content resulting directly or indirectly from any cause or circumstance beyond its or their reasonable control, including but not limited to failure of electronic or mechanical equipment or communication lines, telephone or other interconnect problems, computer viruses, unauthorised access, theft, operator errors, severe weather, earthquakes or natural disasters, strikes or other labour problems, wars, or governmental restrictions.</p>
      
      <h3>10. Links to Third Party Websites</h3>
      <p>The Sites may contain links and pointers to Internet sites maintained by third parties. Company does not operate or control in any respect any information, products or services on such third party sites. Links are provided solely for your convenience, and do not constitute any endorsement by Company and/or its suppliers. You assume sole responsibility for use of third party links and pointers.</p>
      
      <h3>11. Miscellaneous Changes to Terms</h3>
      <p>Company may, at its discretion, change these Terms (including those relating to your use of the Sites and/or the Company Content). When the Terms are changed, Company will notify you by email or by publishing details of those changes by including them in these Terms.</p>
      
      <ul class="list-group-item-text">
      	<li><h4>Rights of reply</h4>
        	<p>If at any time you, or your organisation, have a complaint or comment to make about the Content featured within the Sites they should contact the editor for that particular product whose details can be found on the product pages in question.</p>
        </li>
        <li><h4>Advertising and Third Party Content</h4>
        <p>Parts of the Sites may contain advertising or other third party content. Advertisers and other content providers are responsible for ensuring that material submitted for inclusion on the Sites complies with international and national law. Company is not responsible for any third party content or error, omission or inaccuracy in any advertising material.</p>        	
        </li>
        <li><h4>Invalid Provision</h4>
        	<p>If any provision of the Terms is held to be invalid by a court of competent jurisdiction, Company shall amend the invalid provision in such reasonable manner as achieves the intention of the parties without illegality, or at Company's discretion such provision may be severed from this agreement and the remaining provisions shall nevertheless remain in full force and effect.</p>
        </li>
      </ul>
      
      <h3>12. Governing Law and Jurisdiction</h3>
      <p>These Terms shall be governed by, and construed in accordance with, the laws prevalent in the United States of America. The parties irrevocably agree that the courts of United States of America shall have exclusive jurisdiction to settle any dispute, which may arise out of, under, or in connection with these Terms or the legal relationship established by them, and for those purposes irrevocably submit all disputes to the jurisdiction of the English courts.</p>
</div>