<div class="alert alert-info subscribe-box">
	<h3>Subscribe Pro QA</h3>
    <div class="input-group">
    	<%= form_for(@subscriber) do |f| %>
    		<%= f.text_field :title, class: "form-control", placeholder: "Enter your email" %>
    		<span class="input-group-btn"><%= f.submit, class: "btn btn-primary" %></span>
    	<% end %>
    	<input type="text" id="subscribe-input" class="form-control" placeholder="Enter your email">
    	<span class="input-group-btn"><button id="subscribe-button" class="btn btn-primary" type="button">Submit <span class="collapse subscribe-spin glyphicon glyphicon-refresh glyphicon-spin"></span></button></span>
    </div>
</div>
